@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Kurale&family=Lobster+Two&family=Open+Sans&family=PT+Sans&family=Pacifico&family=Playfair+Display:ital@1&family=Quicksand:wght@500&family=Rye&family=Signika+Negative:wght@500&family=Space+Grotesk:wght@500&display=swap'); 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
font-family: 'Kurale', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rye', cursive;
font-family: 'Signika Negative', sans-serif;
font-family: 'Space Grotesk', sans-serif;
  
}